@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h2>@Html.ActionLink("Kod", "Index", "Kod")</h2>
        <p>View, add, update and delete a song title here.</p>
    </div>
